In [1]:
i = 0
while i < 5:
    i = i + 1
    print(i)

1
2
3
4
5

In [2]:
for i in range(5):
    print(i + 1)

1
2
3
4
5

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(5):
    j = i**2
    if i == 3:
        continue
    print(i,j)

0 0
1 1
2 4
4 16

In [10]:
test_list = [1,2,3,4]
num = sum(test_list)

print(num / len(test_list))

2.5

In [13]:
n_list = [1,2,3,4]

sum = 0
n = 0
for i in n_list:
    if i % 2 != 0:
        sum = sum + i
        n = n + 1
mean = sum / n
print(mean)

2.0

In [20]:
n_list = [1, -5, 16, 76, 127, 4]

max_num = 0

for i in n_list:
    max_num = i if i >= max_num else max_num
print(max_num)

127

In [21]:
n_list = [1, -5, 16, 76, 127, 4]
print(max(n_list))

127

In [22]:
n_list = [1, -5, 16, 76, 127, 4]

least_num = 0

for i in n_list:
    least_num = i if i <= least_num else least_num
print(least_num)

-5

In [29]:
alist = ['Tom','Dick','Harry']

for it in enumerate(alist):
    print(i,j)

<enumerate object at 0x0000024D9E27AF20>

In [28]:
a_list = ['Jane', 3, 5,'Bill']

for item in enumerate(a_list):
    print(item, type(item))

(0, 'Jane') <class 'tuple'>
(1, 3) <class 'tuple'>
(2, 5) <class 'tuple'>
(3, 'Bill') <class 'tuple'>

In [30]:
for item in enumerate(alist):
    index, value = item
    print(item, index, value)

(0, 'Tom') 0 Tom
(1, 'Dick') 1 Dick
(2, 'Harry') 2 Harry

In [40]:
tlist = [1, 236, 5, 5323, -1, 325, 5323, 5323, 0, 4, ]

lrgv = tlist[0]
loc = 0
for index, value in enumerate(tlist):
    if value > lrgv:
        lrgv = value
        loc = index
print(f'The largest value is at {lrgv} and is at index {loc}')

The largest value is at 5323 and is at index 5

In [48]:
tlist = [1, 236, 5, 5323, -1, 325, 5323, 5323, 0, 4, ]

lrgv = tlist[0]
for i in tlist:
    if value > lrgv:
        lrgv = value
print(f'The largest value is {lrgv}')

loclist = []
for index, i in enumerate(n_list):
    if i == lrgv:
        loclist.append(index)
        
for index in loclist:
    print(f'It occurs at index(index)')

The largest value is 4
It occurs at index(index)