In [ ]:
s[2]
s[-1]
s[-3]

In [1]:
sa = '111'
sb = '222'
sc = sa + sb
print(sc)

111222

In [10]:
num_books = 2
price = 30
s = f'I bought {num_books} books for {price} each\
 and paid ${num_books * price:.2f}.'
print(s)

I bought 2 books for 30 each and paid $60.00.

In [12]:
names = ['Tom', 'Dick', 'Harry']
print(names)

['Tom', 'Dick', 'Harry']

In [13]:
names2 = ['Susan', 'Alice', 'Beth']
namesB = names + names2
print(namesB)

['Tom', 'Dick', 'Harry', 'Susan', 'Alice', 'Beth']

In [14]:
namesc = names.append(names2)
print(namesc)
print(names)

None
['Tom', 'Dick', 'Harry', ['Susan', 'Alice', 'Beth']]

In [15]:
print(len(names))

4

In [16]:
t1 = 1,2,3
t2 = (1,2,3)
print(t1)
print(t2)

(1, 2, 3)
(1, 2, 3)

In [17]:
x = t1[0]
print(x)

z = t1[-1]
print(z)

1
3

In [18]:
t1[0] = 4
print(t1[0])

TypeError: 'tuple' object does not support item assignment

In [25]:
ASet = {'cat', 'dog', 'parrot'}
AList = ['cat', 'dog', 'parrot']
ATuple = ('cat', 'dog', 'parrot')

print(type(ASet))
print(type(AList))
print(type(ATuple))

<class 'set'>
<class 'list'>
<class 'tuple'>

In [31]:
print(ASet[0])

TypeError: 'set' object is not subscriptable

In [27]:
print(AList[0])

cat

In [28]:
print(ATuple[0])

cat

In [32]:
adict = {'Joe': 175, 
         'Tom': 190, 
         'Dick': 150}
print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150}

In [33]:
adict['Harry'] = 180
print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150, 'Harry': 180}

In [34]:
del adict['Joe']
print(adict)

{'Tom': 190, 'Dick': 150, 'Harry': 180}

In [35]:
entry1 = adict[0]
print(entry1)

KeyError: 0

In [36]:
print(adict['Dick'])

150

In [37]:
print(bin(243))

0b11110011

In [38]:
hex(243)

'0xf3'

In [39]:
int('110011101', 2)

413

In [40]:
hex(int('110011101', 2))

'0x19d'

In [41]:
print(0x19d)

413

In [42]:
int('afc', 16)

2812

In [43]:
bin(int('afc',16))

'0b101011111100'